.footer {
  position: relative;
  bottom: 0px;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to bottom, rgb(185, 245, 19), white);
}
.brand-info {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Island Moments", cursive;
  font-weight: 600;
  font-size: 30px;
}
.brand-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.anishImg {
  width: 200px;
}
.anishImg img {
  position: absolute;
  top: -150px;
  right: 0px;
}

.clickable {
  height: 40%;
  width: 40%;
  cursor: pointer;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.facebook {
  color: blue;
}
.instagram {
  color: rgb(230, 112, 66);
}
.twitter {
  color: steelblue;
}
.tiktok {
  color: black;
}
